@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:wght@400;700&display=swap');

body {
    font-family: 'Bodoni Moda SC', serif;
}

.container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box;
}
